***"Pollution Pulse: Mapping Indiaâ€™s Air Quality Snapshot"***

In [2]:
#import libraries
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns

In [4]:
# load the dataset
df= pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\AIR_QUALITY\dataset\air_quality.csv")
df.head()

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Andhra_Pradesh,Vijayawada,"Kanuru, Vijayawada - APPCB",04-04-2025 14:00:00,16.486692,80.699436,OZONE,20.0,32.0,21.0
1,India,Andhra_Pradesh,Vijayawada,"Rajiv Gandhi Park, Vijayawada - APPCB",04-04-2025 14:00:00,16.509717,80.612222,SO2,10.0,13.0,11.0
2,India,Andhra_Pradesh,Vijayawada,"Rajiv Gandhi Park, Vijayawada - APPCB",04-04-2025 14:00:00,16.509717,80.612222,CO,30.0,41.0,32.0
3,India,Andhra_Pradesh,Vijayawada,"Rajiv Nagar, Vijayawada - APPCB",04-04-2025 14:00:00,16.554731,80.649110,NO2,14.0,18.0,15.0
4,India,Andhra_Pradesh,Visakhapatnam,"GVM Corporation, Visakhapatnam - APPCB",04-04-2025 14:00:00,17.720000,83.300000,NO2,28.0,68.0,43.0

In [5]:
#basic inspection
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        3229 non-null   object
 1   state          3229 non-null   object
 2   city           3229 non-null   object
 3   station        3229 non-null   object
 4   last_update    3229 non-null   object
 5   latitude       3229 non-null   float64
 6   longitude      3229 non-null   float64
 7   pollutant_id   3229 non-null   object
 8   pollutant_min  3026 non-null   float64
 9   pollutant_max  3026 non-null   float64
 10  pollutant_avg  3026 non-null   float64
dtypes: float64(5), object(6)
memory usage: 277.6+ KB

In [6]:
df.describe()

          latitude    longitude  pollutant_min  pollutant_max  pollutant_avg
count  3229.000000  3229.000000    3026.000000    3026.000000     3026.00000
mean     22.154725    78.746203      22.024124      84.134171       47.08427
std       5.595920     4.945867      24.072022      93.823734       50.30609
min       8.514909    70.909168       1.000000       1.000000        1.00000
25%      18.910000    75.565602       5.000000      19.000000       12.00000
50%      23.016834    77.494094      14.000000      54.500000       31.00000
75%      26.786682    80.699436      31.000000     108.000000       62.00000
max      34.066206    94.636574     326.000000     500.000000      396.00000

In [7]:
df.isnull().sum()

country            0
state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    203
pollutant_max    203
pollutant_avg    203
dtype: int64

In [9]:
df.columns

Index(['country', 'state', 'city', 'station', 'last_update', 'latitude',
       'longitude', 'pollutant_id', 'pollutant_min', 'pollutant_max',
       'pollutant_avg'],
      dtype='object')

In [8]:
#replace 
df[['pollutant_min', 'pollutant_max', 'pollutant_avg']] = df[['pollutant_min', 'pollutant_max', 'pollutant_avg']].replace('NA', pd.NA)
for col in ['pollutant_min', 'pollutant_max', 'pollutant_avg']:
    df[col] = pd.to_numeric(df[col], errors='coerce')
df = df.dropna(subset=['pollutant_min', 'pollutant_max', 'pollutant_avg'], how='all')

In [11]:
df.to_csv('../dataset/air_quality_cleaned.csv', index=False)
print("Cleaned data saved!")

Cleaned data saved!